body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

table {
  text-align: center;
}

.excess {
  color: #f44;
}

.under {
  color: #44f;
}

.prediction {
  color: gray;
}

.original {
  color: #77a;
}
