body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

body > * {
  max-width: 100%;
}

img {
  background-color: transparent !important;
}

select {
  height: 2em;
}

.excess {
  color: #d44;
}

.under {
  color: #4a4;
}

.prediction {
  color: gray;
}

.original {
  color: #77a;
}

table {
  white-space: nowrap;
}

table tr {
  border-top: none !important;
}

table tr:nth-child(2n) {
  background-color: #f0f2f6 !important;
}

table a {
  color: inherit !important;
  text-decoration: inherit !important;
}

th, td {
  border: none !important;
}

.titlebox {
  min-height: 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  padding: 0 10px;
}

.hitbox {
  background-color: #dde1e4aa;
}
.hitbox:hover {
  background-color: #c7ccceaa;
}
.hitbox:active {
  background-color: #b7bcbeaa;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: rgba(42, 42, 46, 1);
    color: rgba(249, 249, 250, 0.8);
  }

  .markdown-body {
    color: revert !important;
  }

  @supports not (color: revert) {
    .markdown-body {
      color: rgba(249, 249, 250, 0.8) !important;
    }
  }

  table {
    background: transparent !important;
  }

  table tr {
    background-color: transparent !important;
  }

  table tr:nth-child(2n) {
    background-color: rgb(29, 29, 29) !important;
  }

  .hitbox {
    background-color: #233138aa;
  }
  .hitbox:hover {
    background-color: #151f27aa;
  }
  .hitbox:active {
    background-color: #0f181baa;
  }

}
