body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

body > * {
  max-width: 100%;
}

.excess {
  color: #d44;
}

.under {
  color: #4a4;
}

.prediction {
  color: gray;
}

.original {
  color: #77a;
}

table a {
  color: inherit !important;
  text-decoration: inherit !important;
}

.hitbox:hover {
  border-radius: 5px;
  background-color: #eee;
}
.hitbox:active {
  border-radius: 5px;
  background-color: #ddd;
}
